div.nav{
	width: 100%;
	background-color: rgba(0,0,0,0);
	height: 2.5em;
	padding: 0;
	font-family: "Arial Black", Gadget, sans-serif;
}
div.nav ul{
	list-style: none;
}
div.nav ul a{
	display: inline-block;
	float: right;
	padding: 0.25em 0.5em;
	text-decoration: none;
	font-size: 1.5em;
	color: #CC3333;
}
#logo{
	float: left;
}
#grayLogo{
	color: #333;
}

