/*GENERAL*/
body{
	background-color: #FF3F0044;
}
#content{
	padding: 0.3em;
}
/*NAV BAR*/
div.nav{
	width: 100%;
	background-color: #FFF;
	height: 2.5em;
	padding: 0;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 100%;
}
div.nav ul{
	list-style: none;
}
div.nav ul a{
	display: inline-block;
	float: right;
	padding-top: 0.4em;
	margin-right: 1em;
	text-decoration: none;
	font-size: 15.5;
	color: #CC3333;
}
#logo{
	float: left;
}
#grayLogo{
	color: #333;
}
/*RADIO SEARCH*/
#searchBar{
	text-align: center;
	display:inline-block;
	border: solid;
	border-color: #00ccff;
}
#searchBar #q, #qBtn {
	height: 2em;
	float: left;
	border-style: none;
	border-color: #333;
	font-size: 2em;
}

#searchBar #q {
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
	border-right: 0;
	text-indent: .5em;
}

#searchBar #qBtn {
	background-color: #90C3D4;
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}

#searchBar #qBtn:hover, #qBtn:focus {
	background-color: #67A3B8;
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}

#searchBar #qBtn img {
	max-width: 80%;
	max-height: 80%;
}